@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("fonts/untitled-font-1.eot");
  src:url("fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-1.woff") format("woff"),
    url("fonts/untitled-font-1.ttf") format("truetype"),
    url("fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: .5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-streamline-suitcase-travel:before {
  content: "a";

}
.icon-book-read-streamline:before {
  content: "b";

}
.icon-settings-streamline-1:before {
  content: "c";

}

/* Page Formating*/
#draggable { width: 150px; height: 150px; padding: 0.5em; }
      #container {
        border: 1px solid #ff9900;
        bottom: 0%;
        left: 0%;
        overflow: hidden;
        position: absolute;
        right: 0%;
        top: 0%;
    }
    .wronganswer{
      border:2px solid red;
      color:red;
      background-color:white;
    }
    .rightanswer{
      border:2px solid green;
      color:green;
      background-color:white;
    }
   #localFolder ul,#backPack ul,#backPackContentList ul {
  list-style-type:none;
}

#localFolder ul li, #backPack ul li,#backPackContentList ul li {
  background:url(../img/paper_bg_big.jpg) no-repeat;
  height:4.5em;
  color:black;
}

#localFolder ul li.comment,#backPack ul li.comment,#backPackContentList  ul li.comment{
  background-position: 0 -24px;
  /*Override properties here if you wish */
}
.spanbtn{
  font-size:8px;padding-left:5px;line-height:.5em;
}
.txtlogin{
  color:black;
}
#login ul{
  border:solid 3px #4d4946;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
  border-radius: 20px;
  background-color:Black;
       /* These three lines are for transparency in all browsers. */
       -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
       filter: alpha(opacity=95);
       opacity:.95;
  margin: 0 auto;
  display: inline-block;
  top: 20%;
    position: relative;
  text-align:center;
  margin-left: 50%;
}
#login input
{
  color: #a8a8a8;
  background: #494949;
  border: 2px solid #595959;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
  border-radius: 10px;
  width:730px;
  height:116;
  font-size:40px;
  padding:15px;
    -moz-box-shadow:    inset 0 0 10px #222222;
        -webkit-box-shadow: inset 0 0 10px #222222;
      box-shadow:         inset 0 0 10px #222222;

}
#content { background-size: cover !important; }
#afui .afScrollPanel { width: 60%; margin: 0 auto;  }
#fileList { width:100%; border-width: 1px; }
#afui.android .list { background: rgba(0,0,0, 0.75);}
#afui .list li { border: 0 none !important;}
.txtlogin { color: #fff; }
.txtlogin input { background: grey !important; color: #fff;}
::-webkit-input-placeholder { color: #fafafa; }
:-moz-placeholder { color: #fafafa; }
::-moz-placeholder { color: #fafafa; }
:-ms-input-placeholder { color: #fafafa; }
#afui .list li { padding: 10px 20px; }
#afui.android .button {
  width: 100%;
  border-radius: 6px;
  height: 40px;
  line-height: 24px;
  text-shadow: -1px -1px 1px #05abe0 !important;
  font-weight: normal;
  font-size: 20px;
  background: #87e0fd; /* Old browsers */
  background: -moz-linear-gradient(top,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e0fd), color-stop(40%,#53cbf1), color-stop(100%,#05abe0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */
}
#login input {
  border-color: #666 !important;
}
