<!DOCTYPE html>
<!--HTML5 doctype-->
<html ng-app="phonecatApp">

    <head>

        <title>SmartLabel</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link rel="stylesheet" type="text/css" href="css/icons.css" />
 		<link rel="stylesheet" type="text/css" href="css/af.ui.css" title="default" />
 		<link rel="stylesheet" type="text/css" href="css/animate.min.css" />
 		<link rel="stylesheet" type="text/css" href="css/styles.css" />
 		<script src="deploy/scripts/app.js"></script>
 		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-route.js"></script>

       <script type="text/javascript">
       $.ui.useOSThemes=true;
       	$.ui.showBackButton=false;
       	app.initialize();
       	$.ui.manageHistory=false;
       </script>
	<style>


        </style>

  <script>




  </script>
</head>

  <body>

    <div id="container"></div>
        <div id="afui" class="">
            <!-- this is the splashscreen you see. -->
            <div id="splashscreen" class='ui-loader heavy'>
                App Framework
                <br>
                <br>	<span class='ui-icon ui-icon-loading spin'></span>
                <h1>Starting app</h1>

            </div>
           <div id="header" style="background-image:url('img/header_bg.png');">
               <!-- <a id='menubadge'  style="float:right;" onclick='af.ui.toggleSideMenu()' class='menuButton'></a>  -->
            </div>
            <div id="content" style="background-image:url(img/background.jpg);">
              <div title="my backpack" id="login" class="panel" selected="true" data-load="setLogin" data-footer="home_footer"  >
                  <header>
                      <!--<a id='menuback'  style="float:left;" onclick="gotoCurrentPage();"  class='button'>back</a>-->
                      <!--<a class="button previous" href="#home">Home</a>-->
                      <h1>my backpack</h1>

              </header>
                <ul id="fileList" class="list" >
                  <li class="txtlogin">
                    <input id="txtUserName" type="text" placeholder="username" class="txtlogin"></input>
                  </li>
                  <li class="txtlogin">
                    <input id="txtUserPassword" type="password" placeholder="password" class="txtlogin"></input>
                  </li>
                  <li class="txtlogin">
                    <input id="txtUserDomain" type="text" placeholder="domain" class="txtlogin"></input>
                  </li>
                  <li class="txtlogin">
                   <div href="#">Help Signing In?</div>
                  </li>
                  <li class="txtlogin">
                   <div class="button" onclick="bagpackLogin();">log in</div>
                  </li>
                </ul>
      </div>
             <div title='Home' id="home" class="panel"  data-load="homeloadedPanel" data-unload="unloadedPanel" data-footer="home_footer" >
                <div class="grid">
                	<div class="col3"><span>&nbsp;</span></div>
    				<div class="col3">
    					<a href="#localFolder" class="button icon icon-streamline-suitcase-travel"><span class="spanbtn">Local Folder</span></a>
    					<a href="#backPack" class="button icon icon-book-read-streamline"><span class="spanbtn" >BagPack</span></a>
    					<a href="#settings" class="button icon icon-settings-streamline-1"><span class="spanbtn">Settings</span></a>
    				</div>
    				<div class="col3"></div>
    			</div>
    			<!-- <a class="button" href="javascript:;" onclick='startOver();'>Start Over</a>  -->
            </div>
                <div title='Local Folder' id="localFolder" class="panel"  data-load="lclFolderloadedPanel" data-unload="unloadedPanel" data-footer="home_footer" >
                	<header>
                		<h1>Local Folder</h1>
                		<a class="button previous" style="font-size:10px;" href="#backPack" >Home</a>
                	</header>

                	<p id="errorLoclMsg" style="display:none;">There is no file found. please load the file in order to start the exercise.</p>
                	<ul id="fileList" class="list" >
   					  	<li><a href="#main" onclick='getContents("map",this);'>Map World</a></li>
   					 	<li><a href="#main" onclick='getContents("heart",this);'>Heart</a></li>
					</ul>
				</div>
                  <div title='BackPack' id="backPack" class="panel"  data-load="backPackloadedPanel" data-unload="unloadedPanel" data-footer="home_footer" ng-model="courseList"  ng-controller="PhoneListCtrl">
                	<header>
                		<h1>BagPack</h1>
                		<!--<a class="button previous" href="#home">Home</a>-->
                    <a href="#localFolder" style="float:left;margin-right:5px;" class="button icon icon-streamline-suitcase-travel"><span class="spanbtn"></span></a>
                    <a href="#settings" style="float:left;" class="button icon icon-settings-streamline-1"><span class="spanbtn"></span></a>
                    <a href="#login" style="float:right;" class="button icon logout"><span class="spanbtn">Logout</span></a>
                	</header>
                	<ul  class="list" ng-model="courseList" >
   					 <li ng-repeat="item in courseList" >
        				<a href="#main">{{item.CourseName}}</a>
    				</li>
       			</ul>
                  <!-- <p id="errorMsg" style="display:none;">There is no file found. please load the file in order to start the exercise.</p> -->
                	<ul id="courseList" class="list" >
   					<!--   <li><a href="#main" onclick='getContents("map");' >Map World</a></li>
   					 <li><a href="#main" onclick='getContents("heart");'>Heart</a></li> -->
				</ul>

                 </div>
                 <div title='BackPack' id="backPackContentList" class="panel"  data-load="backPackCourseContPanel" data-unload="unloadedPanel" data-footer="home_footer" ng-model="courseList"  ng-controller="PhoneListCtrl">
                	<header>
                		<h1>BagPack</h1>
                		<a class="button previous" href="#" onclick='backtobagPack()'>Back</a>
                	</header>

                  <!-- <p id="errorMsg" style="display:none;">There is no file found. please load the file in order to start the exercise.</p> -->
                	<ul id="courseContentList" class="list">
   					<!--   <li><a href="#main" onclick='getContents("map");' >Map World</a></li>
   					 <li><a href="#main" onclick='getContents("heart");'>Heart</a></li> -->
				</ul>

                 </div>

                <div title='Type Answer' id="main" class="panel"  data-load="typeAnsloadedPanel" data-unload="unloadedTypeAns" data-tab="navbar_main">
                  	<header>
                  		<h1></h1>
                  		<!--<a id='menubadge'  style="float:right;" href="#settings" class='menuButton'></a>-->
                  		<a id="menuReset" class="button" style="float:right;margin-left:5px;font-size:10px;" onclick="restCurrentPage('type');">
            				Reset
            			</a>
                  		<a  class="button" style="float:right;">
            			<span id="typAnsResult"></span><span id="questTotal"></span>
            			</a>


            			<a id='menuBackBtn'  style="float:left;font-size:10px;" onclick="gotoCurrentPage();"  class='button previous' >Back</a>
                  		<a  class="button" style="float:left;margin-right:10px;margin-left:5px;font-size:10px;" >
            			<span id="typeAttempt">Attempts:</span><span id="noAttempts"></span>
            			</a>

            			<a  class="button" style="float:left;font-size:10px;margin-left:-5px;">
            			<span id="totalTime"></span>
            			</a>


        			</header>


                 </div>
                <!--****************************-->
                <div title="Shuffle" id="shuffle" class="panel"  data-load="shuffleloadedPanel" data-unload="unloadedShuffleAns" data-tab="navbar_shuffle">
                <header>
                  		<!-- <a id='menubadge'  style="float:right;" href="#settings" class='menuButton'></a>-->
                  		<a id="menuReset" class="button" style="float:right;margin-left:10px;" onclick="restCurrentPage('shuffle');">
            				Reset
            			</a>

            			<a  class="button" style="float:right;" class="icon home">
            			<span id="shuffleResult"></span><span id="shuffleQuestTotal"></span>
            			</a>
            			<a id='menuBackBtn'  style="float:left;" onclick="gotoCurrentPage();"  class='button previous'>Back</a>
            			<a  class="button" style="float:left;margin-right:10px;" >
            			<span>Attempts:</span><span id="shuffleNoAttempts"></span>
            			</a>
            			<a  class="button" style="float:left;">
            			<span id="shuffletotalTime"></span>
            			</a>
        			</header>
                 </div>
				 <div title="Multi Select" id="multiSelect" class="panel"  data-load="multiSelloadedPanel" data-unload="unloadedMultiSelAns" data-tab="navbar_multiSel">
                	<header>
                  		<!-- <a id='menubadge'  style="float:right;" href="#settings" class='menuButton'></a>
                  		<h1></h1> -->
                  		<a id="menuReset" class="button" style="float:right;margin-left:10px;" onclick="restCurrentPage('pick');">
            				Reset
            			</a>
            			<a  class="button" style="float:right;" >
            			<span id="multiSelectResult"></span><span id="mulQuestTotal"></span>
            			</a>
            			<a id='menuBackBtn'  style="float:left;" onclick="gotoCurrentPage();"  class='button previous'>Back</a>
            			<a  class="button" style="float:left;margin-right:10px;margin-left:5px;" >
            			<span id="multiAttempt">Attempts:</span><span id="multiNoAttempts"></span>
            			</a>
            			<a  class="button" style="float:left;">
            			<span id="multitotalTime"></span>
            			</a>
        			</header>
				 </div>

				 <div title="Random Select" id="randomSelect" class="panel"  data-load="randSelloadedPanel" data-unload="unloadedRandSel"  data-tab="navbar_randSel">
				 <header>
                  		<!-- <a id='menubadge'  style="float:right;" href="#settings" class='menuButton'></a> -->
                  		<a id="menuReset" class="button" style="float:right;margin-left:5px;font-size:10px;" onclick="restCurrentPage('random');">
            				Reset
            			</a>
                  		<h1> <span id="randAnswerDiv" style="color:white;border:2px solid blue; width:auto;"></span></h1>

            			<a  class="button" style="float:right;font-size:10px;">
            			<span id="randSelectResult"></span><span id="randQuestTotal"></span>
            			</a>
            			<a id='menuBackBtn'  style="float:left;font-size:10px;" onclick="gotoCurrentPage();"  class='button previous'>Back</a>
            			<a  class="button" style="float:left;margin-right:10px;font-size:10px;margin-left:5px;">
            			<span id="randomAttempt">Attempts:</span><span id="randomNoAttempts"></span>
            			</a>
            			<a  class="button" style="float:left;font-size:10px;">
            			<span id="randomtotalTime"></span>
            			</a>
        			</header>

				 </div>

				 <div title="Show Answer" id="showAnswer" class="panel"  data-load="showAnsloadedPanel" data-tab="navbar_showAns">
                	<header>
                  		<a id='menuBackBtn'  style="float:left;" onclick="gotoCurrentPage();"  class='button previous'>Back</a>
                  		<h1></h1>

        			</header>
                <!--<div title="Shuffle" id="af" class="panel" data-nav="menu_AppFramework" data-load="loadedPanel" data-header="testheader">-->
                    <!-- <header><span>This is an inline header in a panel.  Below is an inline footer</span></header>-->
                    	<!-- <h2 class='expanded' onclick='showHide(this,"AppFramework_info");'>AppFramework</h2> -->
				 </div>
            <div title="Settings" id="settings" class="panel" data-load="setSettings" data-footer="home_footer"  >
                	<header>
                  		<!--<a id='menuback'  style="float:left;" onclick="gotoCurrentPage();"  class='button'>back</a>-->
                  		<a class="button previous" href="#backPack">Home</a>
                  		<h1>Settings</h1>

        			</header>
                <ul id="fileList" class="list">
                	<li>
                		<div class="grid">
   							<div class="col2">Selection</div>
							<div class="col2"><select id="selQuestionOption" onchange="resetSelectCtrl()"></select>
							</div>
						</div>
					</li>
					<li>
                		<div class="grid">
   						<div class="col2">Domain</div>
						<div class="col2" style="float:left;"> <input id="txtDomain" type="text" style="width:40%;" value="Planoisd_grade1"></input></div>
						</div>
					</li>
					<li>
                		<div class="grid">
   						<div class="col2">Version</div>
						<div class="col2" style="float:left;"> <span>1.0</span> </div>
						</div>
					</li>
   				</ul>
			</div>



            </div> <!--  Main Div dont delete -->
            <!-- ***************************** -->
            <!-- navbar -->

            <div id="navbar" style='margin: 0;float:left; background-image:url(img/header_bg.png);' >
            	<!-- <a href="#home" id='navbar_home' class='icon home'>Home</a> -->
            	<a href="#main" id='navbar_main' class='icon home'>Type</a>
                <a href="#shuffle" id='navbar_shuffle' class="icon target" >Shuffle</a>
                <a href="#multiSelect" id='navbar_multiSel' class="icon picture">Select</a>
                <a href="#randomSelect" id='navbar_randSel' class="icon key">Random</a>
                <a href="#showAnswer" id='navbar_showAns' class="icon picture" onclick='showAnswer();'>Answer</a>


            </div>
        	 <footer id="home_footer" style="background-image:url(img/header_bg.png);">
    			<!--<a href='#about' class='icon info'>About</a>-->
			</footer>


            <!-- ***************************** -->

        </div>
		 <script defer="defer">

    </script>
    </body>
</html>
